$color_1: rgba(19, 52, 87, 1);
$color_2: rgba(7, 48, 93, 1);
$color_3: rgba(15, 29, 69, 1);

$textColor_1: rgba(255, 255, 255, 1);
$textColor_2: rgba(255, 255, 255, 0.5);
$textColor_3: rgba(0, 0, 0, 1);

$signupColor: rgba(255, 255, 255, 1);
$signupOutlineColor: rgba(0, 0, 0, 1);

$orderOutlineColor: rgba(255, 255, 255, 1);

$modalBackground: rgba(15, 29, 69, 0.6);
